
.new-results-container{
    background: #cce9f9;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.new-results-header{
    overflow: hidden;
    vertical-align: bottom;
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    background: #eef490;
    color: #049e09;
    font-weight: bolder;
    padding-bottom: 15px;
    border-bottom: 5px solid #049e09;
}



#logoHi{
    position: absolute;
    width:150%;
    height:150%;
    top:10%;
}
#logoBlanco{

    position: inherit;
    width: inherit;
    margin-left: 45%;

}

@font-face {
    font-family: Futura;
    src: url(../fonts/Futura/FuturaStd-CondensedLight.otf);
}

@font-face {
    font-family: ironick;
    src: url(../fonts/ironick-normal/IronickNF.otf);
}


/* Begin Navigation Bar Styling */
#nav {
    height: 60px;
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #A861A8;

    line-height: 10px;
}

#nav li {
    line-height: 10px;
    height: 100%;
    float: left;
}
#nav li img {
    height: 60px;
}

#nav h1{
    position: relative;

    height: 100%;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
    border-right: 1px solid #ccc;
}

#nav li a {
    position: relative;
    top: 25%;
    height: 100%;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    border-right: 1px solid #ccc;
}
#nav li a:hover {
    color: lightskyblue;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
/* End navigation bar styling. */


#wrap p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*CSS para loaders*/
#loaderContainer{
    width: 400px;
    height: 130px;
    overflow: hidden;
    position: fixed;
    top:20%;
    left: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.9);
    border-radius: 20px;
    margin: auto;
}
.errorText {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    font-weight: bold;
    color: #18277A;
    text-align: center;
    font-size: 350%;
}

.menu{
    width: 100%;
    height: 10%;
}

.loader1{
    width: 50%;
    height: 60%;
    position: relative;
    top: -60%;
    left: -5%;
    z-index: 500;
    color: #CC6060;
}

#loader1-logo{
    text-align: left;
    margin: auto;
    width: auto;
    animation: 2.5s 0.5s spinabit ease-in-out;
    -webkit-animation: 2.5s 0.5s spinabit ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#loader1-pitch{
    position: absolute;
    font-family: 'Open Sans';
    width: 92%;
    color: #CC6060;
    top: 100px;
    left: 2%;
    text-align: center;
    margin: 0 auto;
}

#loader1-pitch h3{
    transform: translate(0px,25px);
    -webkit-transform: translate(0px,25px);
    -ms-transform: translate(0px,25px);
    opacity: 0;
    font-family: 'Open Sans';
    animation: 0.5s 1.5s appear ease-out forwards;
    -webkit-animation: 0.5s 1.5s appear ease-out forwards;
}


@keyframes spinabit{
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
    }
    12% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
    }
    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes spinabit{
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
    }
    12% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
    }
    25% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
    }
}


@keyframes appear{
    0% {
        opacity: 0;
        margin-top: -15px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes appear{
    0% {
        opacity: 0;
        margin-top: -15px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

#svg{
    width: 100%;
    margin-top: 25px;
}


.loader1-logoBackground{
    animation: 2.5s 0.5s spin ease-in-out;
    -webkit-animation: 2.5s 0.5s spin ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

@keyframes spin{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    50%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    75% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
}

@-webkit-keyframes spin{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    25% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    50%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    75% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
}


.loader1-logoDonut{
    animation: 2.5s 0.5s spin-inverse ease-in-out forwards;
    -webkit-animation: 2.5s 0.5s spin-inverse ease-in-out forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes spin-inverse{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    25% {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    50%{
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    75% {
        transform: rotate(-270deg);
        -webkit-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
}

@-webkit-keyframes spin-inverse{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    25% {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    50%{
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    75% {
        transform: rotate(-270deg);
        -webkit-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        transform-origin: 35px 35px;
        -webkit-transform-origin: 35px 35px;
        transform-origin: 35px 35px;
    }
}


.loader2 {
    width: 50%;
    height: auto;
    line-height: 50px;
    text-align: center;
    position: relative;
    top:50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ce4233;
    letter-spacing: 0.2em;
}
.loader2::before, .loader2::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #CC6060;
    position: absolute;
    -webkit-animation: load .7s infinite alternate ease-in-out;
    animation: load .7s infinite alternate ease-in-out;
}
.loader2::before {
    top: 0;
}
.loader2::after {
    bottom: 0;
}

@-webkit-keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}
/*Fin de CSS para loaders*/

#cuerpo{
    position:absolute;
    height:90%;
    width:100%;


}
#myTable{
    display:block;
    padding-top: 10%;
    position: absolute;
    width: 80%;
    left: 10%;
    color: #009688;
    font-size: .9em;
    font-weight: bold;
}
.drinks{
    display:list-item;
    margin-left: auto;
    margin-right: auto;

}
.mesa{
    border:solid 1px #000000;
    float: left;
    position: absolute;
}
#mesa1{


    height:33%;
    width:50%;
    left:0%;
    top:0%;

}
#mesa2{

    height:33%;
    width:50%;
    left:50%;
    color:#000;
    top:0%;

}
#mesa3{


    height:33%;
    width:50%;
    left:0%;
    top:33.5%;

}
#mesa4{

    height:33%;
    width:50%;
    left:50%;
    color:#000;
    top:33.5%;

}
#mesa5{


    height:33%;
    width:50%;
    left:0%;
    top:67%;

}
#mesa6{

    height:33%;
    width:50%;
    left:50%;
    color:#000;
    top:67%;

}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    font-size: 1.5em;
}

.puntuaciones1{
    text-align: center;
    margin: auto;
    width: 100%;
    font-weight:bold;
    font-size: 30px;
    background: #8AC007;
}

.roundedCorners{
    border-radius: 25px;
}

.resContainer{
    margin-left: 10px;
    line-height: 150%;
}

#resultsDiv1{
    float: left;
    overflow: hidden;
    background: lightskyblue;
    height: auto;
    text-align: left;
    width: auto;
    margin-top: -6%;
    font-size: 20px;
    margin-left: 3%;
    vertical-align: middle;
}

#resultsDiv2{
    float: left;
    overflow: hidden;
    background: lightskyblue;
    height: auto;
    text-align: left;
    width: 20%;
    margin-top: -6%;
    font-size: 20px;
    margin-left: 3%;
    vertical-align: middle;
}

#container{
    position: relative;
    top: 18%;
}

.shadowed{
    box-shadow: 0px 0px 40px #888888;
    background: white;
    height: 1200px;
    width: 900px;
}

.res1{
    width: auto;
    float: left;
    margin-left: auto;
}

.res2{
    width: auto;
    float: left;
}

#res2_1{
    width: 90%;
    float: center;
    margin-left: 5%;
}

#Header{
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    width: 100%;

}

#MainContainer{
    margin-right: auto;
    margin-left: auto;
    height: 700px;
    width: 500px;
    margin-top:1px;
    margin-bottom:30px;
    position: relative;
    font-size: 1.5em;
}

#Footer{
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


paper-input{
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;


}

#Header h1{
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}



core-header-panel {
    height: 100%;
    width: 100%;
}
#myTable{
    display:block;
    padding-top: 10%;
    position: absolute;
    width: 80%;
    left: 10%;
    color: #009688;
}

core-toolbar{
    background-color: #aa00aa;
}

#puntuaciones{
    text-align: center;
}

#puntuaciones a:hover{
    color:lightskyblue;
}

#my-button{
    font-size: 20px;
    display:block;
    background:lightskyblue;
    margin-right:100px;
    margin-left:100px;
    margin-top:65px;
    font-size: 1.5em;
}
#my-button2 {
    margin-left: 5%;
    width: 40%;
    display: block;
    background: lightskyblue;
    margin-top: 65px;
    font-size: 1.5em;
}

#my-button3{
    font-size: 20px;
    background: lightskyblue;
    width: 40%;
    margin-left: 5%;
    margin-top: 50%;
    font-size: 1.5em;
}

#my-button4{
    background: lightskyblue;
    width: 40%;
    font-size: 1.5em;
}

#button-cancel{
    display: block;
    margin: 1000px;
    font-size: 1.5em;
}

.my-button{
    font-size: 20px;
    background:lightskyblue;
    font-size: 1.5em;
}

#infoDiv{
    margin-top: 5%;
    margin-left: 20%;
    font-size: 20px;
    display: block;
    font-size: 1.5em;
}

small
{
    display: block;
    margin-top: 1em;
}

html, body{
    height: 100%;
    background: #EFF6FC;
}

#chartDiv{

}

#myChart
{
    margin-top: 0%;
    width: 95%;
    height: inherit;
}

span{
    margin-left: auto;
    margin-right: auto;

}
.contain{
    position:relative;
    top:10%;


}
#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}
.header{
    color:#fff;
    text-align: center;
}
.selectMenu{
    position:absolute;
    height: 100%;
    top:10%;
    left:44%;
}
fieldset {
    border: 0;
}
label {
    display: block;
    margin: 30px 0 0 0;
}
select {
    width: 200px;
}
.overflow {
    height: 200px;
}

button {
    margin-top: 2em;
}

#format{
    position: absolute;
    left: 42%;
    top: 70%;
}
#radio{
    position: absolute;
    left: 40%;
    top: 75%;
}
#checkcheck{
    position: absolute;
    left: 20%;

}

.btn.btn-success{
    position: absolute;
    left: 30%;
    top: 40%;
}

.btn.btn-danger{
    position: absolute;
    left: 50%;
    top:40%
}






